.h-15 {
	height: 15% !important;
}

.h-85 {
	height: 85% !important;
}

html, body {
	height: 100%;
}

body {
	font-family: sans-serif;
	background-color: $white;
	line-height: normal;
}

a {
	text-decoration: dashed underline $ypurple;
	color: $black;

    &:hover {
        font-weight: 700;
		color: $ypurple;
		text-decoration: none;
    }
}

ul {
	padding: 0;
	margin: 0;
	column-count: 2;
	column-gap: 30px;

    li {
        list-style-type: none;
        font-size: $font-size-meta;
        padding-right: $spacing-sm;
    }

	@include media-breakpoint-down(sm) {
		column-count: 1;
	}
}

svg:not(.leaflet-zoom-animated) {
	width: 100%;
	height: 100%;
}

.woe {
	color: $ypurple;
}
