#footer {
	text-align: left;
	margin-left: $spacing-lg;
	margin-bottom: $spacing-sm;
	font-size: $font-size-tiny;
	line-height: $spacing-sm;
	padding-top: $spacing-md;
	color: $grey-500;

    a {
	    color: $grey-700;
	}

	@include media-breakpoint-down(sm) {
		margin-left: $spacing-sm;
		margin-right: $spacing-sm;
	}
}

.map-footer {
	background-color: $white;
}
