$sizes: (
	10: 10%,
	15: 15%,
	20: 20%,
	30: 30%,
	40: 40%,
	60: 60%,
	70: 70%,
	80: 80%,
	85: 85%,
	90: 90%
);

$ypurple: #6000DB !default;
$white: #ffffff;
$black: #000000;
$grey-900: #333333;
$grey-700: #666666;
$grey-500: #999999;
$grey-400: #aaaaaa;
$grey-300: #bbbbbb;
$grey-200: #cccccc;
$grey-100: #dddddd;
$grey-50: #eeeeee;

// Typography
$font-size-banner: 60pt;
$font-size-banner-lg: 48pt;
$font-size-banner-md: 36pt;
$font-size-banner-sm: 28pt;

$font-size-heading: 24pt;
$font-size-input: 20pt;
$font-size-body: 18pt;
$font-size-body-md: 14pt;
$font-size-body-sm: 12pt;
$font-size-meta: 10pt;
$font-size-tiny: 8pt;
$font-size-code: 10px;
$font-size-slug: 11px;

// Spacing
$spacing-xs: 10px;
$spacing-sm: 15px;
$spacing-md: 20px;
$spacing-lg: 40px;
$spacing-xl: 50px;
