$sizes: (
	10: 10%,
	15: 15%,
	20: 20%,
	30: 30%,
	40: 40%,
	60: 60%,
	70: 70%,
	80: 80%,
	85: 85%,
	90: 90%
);

@import 'bootstrap/scss/bootstrap';

$ypurple: #6000DB !default;

.h-15 {
	height: 15% !important;
}

.h-85 {
	height: 85% !important;
}

html, body {
	height: 100%;
}

body {
	font-family: sans-serif;
	background-color: #ffffff;
	line-height: normal;
}

a {
	text-decoration: dashed underline $ypurple;
	color: #000;

    &:hover {
        font-weight: 700;
		color: $ypurple;
		text-decoration: none;
    }
}

.leaflet-popup-content {
	a {
		text-decoration: underline;

		&:hover {
			font-weight: 500;
		}

		&:visited {
			color: #333;
		}
	}
}

.page-banner {
	color: #fff;
	background-color: #000;
	font-size: 60pt;
	font-weight: 700;
	padding-bottom: 20px;
	padding-top: 30px;
	padding-left: 40px;
	padding-right: 0;

	@include media-breakpoint-down(lg) {
		font-size: 48pt;
		padding-left: 30px;
	}

	@include media-breakpoint-down(md) {
		font-size: 36pt;
		padding-left: 20px;
		padding-top: 20px;
		padding-bottom: 15px;
	}

	@include media-breakpoint-down(sm) {
		font-size: 28pt;
		padding-left: 15px;
		padding-top: 15px;
		padding-bottom: 10px;
	}
}

#sidebar-info, #search-info {
	font-size: 8pt;
	margin: 20px;
	margin-left: 40px;

	@include media-breakpoint-down(sm) {
		margin-left: 15px;
		margin-right: 15px;
	}
}

#sidebar-info {
	a {
		text-decoration: underline;
	}
}

#pagination {
	font-size: 12pt;
	text-align: center;
	margin-left: -40px;
	margin-top: 40px;
}

#pagination-first{
	color: #bbb;
	font-weight: 700;
}

#pagination-last {
	color: #bbb;
	font-weight: 700;
}

#pagination-current {
	font-weight: 700;
	margin: 20px;
}

#search-facets {
	float: right;
	border: solid thin;
	margin-left: 40px;
	margin-right: 40px;
	min-width: 200px;
	padding: 20px;

    li {
	    line-height: 22px;
	    font-size: 10pt;
	    padding-left: 20px;
    }

	@include media-breakpoint-down(md) {
		float: none;
		margin: 15px;
		min-width: auto;
	}
}

#search-results {
	padding-left: 50px;
	margin-top: 40px;
	margin-bottom: 60px;

    ol  {
        li {
    	    line-height: 32px;
            font-size:18pt;

            &:hover {
                font-size:20pt;
                padding-top:5px;
                padding-bottom:5px;
            }
        }
	}

	@include media-breakpoint-down(md) {
		padding-left: 30px;
		padding-right: 15px;
		margin-top: 25px;
		margin-bottom: 40px;

		ol li {
			font-size: 14pt;
			line-height: 28px;

			&:hover {
				font-size: 16pt;
			}
		}
	}

	@include media-breakpoint-down(sm) {
		padding-left: 15px;
		padding-right: 10px;
		margin-top: 20px;
		margin-bottom: 30px;

		ol li {
			font-size: 12pt;
			line-height: 24px;

			&:hover {
				font-size: 14pt;
			}
		}
	}
}

.again {
	font-size: 11px;
	color: #ccc;
	margin-top: 1rem;
}

#search {
	margin-top: 10%;
	margin-bottom: 10%;
	text-align: center;
}

#searchbox {
	display: inline-block;
	text-align: left;
}

#q {
	font-size: 20pt;
	padding: 12px;

	@include media-breakpoint-down(sm) {
		font-size: 14pt;
		padding: 8px;
		width: 100%;
		max-width: 280px;
	}
}

#querysubmit {
	border: 4px solid #000;
	font-size: 20pt;
	font-weight: 700;
	padding:10px;

	@include media-breakpoint-down(sm) {
		font-size: 14pt;
		padding: 8px;
		border-width: 3px;
	}
}

#woe-hierarchy {
	-moz-column-count: auto;
	-webkit-column-count: auto;
	column-count: auto;

    li {
        font-size: 18pt;
        line-height:32px;
    }
}

.place-entry {
	font-size: 18pt;
	border-bottom: 2px solid;
	border-bottom-color: white;
}

.place-label, .place-info {
	font-size: 18pt;
	padding: 25px;
	padding-left: 40px;
	padding-right: 50px;
	vertical-align: text-top;
	line-height: 30px;

	@include media-breakpoint-down(md) {
		font-size: 14pt;
		padding: 15px;
		padding-left: 20px;
		padding-right: 20px;
		line-height: 24px;
	}

	@include media-breakpoint-down(sm) {
		font-size: 12pt;
		padding: 10px;
		padding-left: 15px;
		padding-right: 15px;
	}
}

.click-here {
	color: #ccc !important;
}

#asc, #gg, #oc {
	font-weight: 700;
}

#woe-provider {
	font-size: 10pt;
}

#woe-date-indexed {
	font-size: 10pt;
}

#search-name {
	font-weight: 700;
    a {
        color: #fff;
    }
}

#woe-name {
	font-weight: 700;
}

#woe-id {
	font-weight: 700;
}

#main {
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 10px;
	margin-left: 0;
	margin-right: 0;
}

#content {
	padding-left: 0;
	padding-right: 0;
	overflow-y: auto;
}

.page-content {
	margin: 40px;
	margin-right: 45px;
	margin-top: 50px;

    p {
        font-family: serif;
        font-size: 18pt;
        color: #333;
		text-align: justify;
		margin-top: 24px;
		margin-bottom: 24px;
    }

	@include media-breakpoint-down(md) {
		margin: 25px;
		margin-top: 30px;

		p {
			font-size: 14pt;
			margin-top: 16px;
			margin-bottom: 16px;
		}
	}

	@include media-breakpoint-down(sm) {
		margin: 15px;
		margin-top: 20px;

		p {
			font-size: 12pt;
			text-align: left;
		}
	}
}

#side-bar {
	padding-left: 0;
	padding-right: 0;
	border-left: 1px dotted  black;
	background-color: #eee;
}

#footer {
	text-align: left;
	margin-left: 40px;
	margin-bottom: 15px;
	font-size: 8pt;
	line-height: 15px;
	padding-top: 20px;
	color: #999;

    a {
	    color: #666;
	}

	@include media-breakpoint-down(sm) {
		margin-left: 15px;
		margin-right: 15px;
	}
}

.map-footer {
	background-color: #fff;
}

.slug {
	font-size: 11px;

	.search-again {
		color: #ccc;
		margin-left: 10px;
	}
}

#location {
	#location-success, #location-error {
		display: none;
	}

	.slug {
		margin-top: 15px;
	}
}

.facets {
	color: #666;
	margin-bottom:10px;
}

.label-basic {
	background-color: #000;
	color: #fff;
	font-size: 24pt;
}

.label-children {
	background-color: #333;
	color: #fff;
	font-size: 24pt;
}

.label-adjacencies {
	background-color: #666;
	color: #fff;
	font-size: 24pt;
}

.label-aliases {
	background-color: #999;
	color: #fff;
	font-size: 24pt;
}

.label-supercedes {
	background-color: #bbb;
	color: #fff;
	font-size: 24pt;
}

.label-superseded {
	color: #ccc;
}

.label-source {
	background-color: #ddd;
	color: #fff;
	font-size: 24pt;
}

ul {
	padding: 0;
	margin: 0;
	column-count: 2;
	column-gap: 30px;

    li {
        list-style-type: none;
        font-size: 10pt;
        padding-right: 15px;
    }

	@include media-breakpoint-down(sm) {
		column-count: 1;
	}
}


#woe-id-superceded {
	text-decoration: line-through;
	color: #aaa;
}

svg:not(.leaflet-zoom-animated) {
	width: 100%;
	height: 100%;
}

 #search-query {
	 display: none;
	 padding-left: 50px;
	 padding-right: 50px;
	 padding-bottom: 20px;

	 pre {
		 border: 1px dotted #999;
		 font-size: 10px;
		 max-height: 200px;
		 overflow-y: scroll;
		 word-break: break-all;
		 white-space: pre-wrap;
	 }

	 .timings {
		 float: right
	 }
 }

 .text-panel {
	 background-color: #ffffff;
	 color: #000;
	 padding: 10px;
 }

 #error {
	 display: flex;

	 #error-image {
		 width: 30%;

		 img {
			 width: 100%;
			 border-right: 20px;
		 }
	 }

	 #error-text {
		 padding-left: 20px;
		 flex-grow: 2;
	 }
 }

.license-entry {
	margin-bottom: 40px;
	padding-bottom: 20px;
	border-bottom: 1px dotted #ccc;

	&:last-child {
		border-bottom: none;
	}
}

.license-key {
	font-family: sans-serif;
	font-size: 24pt;
	font-weight: 700;
	margin-bottom: 10px;
}

.license-attribution {
	font-family: serif;
	font-size: 14pt;
	color: #666;
	line-height: 1.6;
}

.expandable-list {
	summary {
		list-style: none;

		&::-webkit-details-marker {
			display: none;
		}

		.show-less {
			display: none;
		}
	}

	&[open] summary {
		.show-more {
			display: none;
		}

		.show-less {
			display: inline;
		}
	}
}

.woe {
	color: $ypurple;
}
