    <a href="{{ url_for('index_endpoint') }}">home</a> |&nbsp;
    <a href="{{ url_for('about_endpoint') }}">about</a> |&nbsp;
    <a href="{{ url_for('search_endpoint') }}">search</a> |&nbsp;
    <a href="{{ url_for('nearby_endpoint') }}">nearby</a> |&nbsp;
    <a href="{{ url_for('random_endpoint') }}">random</a> |&nbsp;
    <a href="{{ url_for('placetype_facets_endpoint') }}">placetypes</a> |&nbsp;
    <a href="{{ url_for('country_facets_endpoint') }}">countries</a> |&nbsp;
    <a href="{{ url_for('nullisland_endpoint') }}">null island</a> |&nbsp;
    <a href="{{ url_for('licenses_endpoint') }}">licenses</a> |&nbsp;
    <a href="{{ url_for('credits_endpoint') }}">credits</a> |&nbsp;
    <a href="https://github.com/woeplanet" target="_blank">code</a> |&nbsp;
    <a href="{{ url_for('data_endpoint') }}">data</a>
    <br><br>
    this is a thing made with {{ 'red_heart'|emojify }} in {{ 'United_Kingdom'|emojify }}
    from <a href="https://www.python.org/" title="Python" target="_blank">{{ 'snake'|emojify }}</a>,
    <a href="https://sqlite.org/" title="SQLite" target="_blank">{{ 'feather'|emojify }}</a>
     and <a href="https://leafletjs.com/" title="Leaflet" target="_blank">{{ 'leaves'|emojify }}</a>
    by <a href="https://www.garygale.com/" id="gg">gary gale</a>&nbsp;&amp;&nbsp;<a href="http://www.aaronland.info/" id="asc">aaron straup cope</a>
    and kindly hosted by <a href="https://opencagedata.com/" id="oc" target="_blank">opencage</a>
