{%- extends "base.html.j2" %}
{%- block title %}{{ title }}{%- endblock %}
{%- block content %}
<div class="row h-100">
	<div id="content" class="col-sm-9 h-100">
		<div class="page-banner">credits</div>
		<div class="page-content">
            <h2>People</h2>
            <p>Sadly, there's no data fairies living at the end of the garden and <span class="woe">WOE</span>planet wouldn't be possible without the following people who cared for, fed and nurtured GeoPlanet.</p>
            <h3>Yahoo! Geo Technologies</h3>
            <p>Ali Abtoy, <a href="https://www.linkedin.com/in/walter-andrag/" target="_blank">Walter Andrag</a>, <a href="https://www.linkedin.com/in/eddie-babcock-a46270/" target="_blank">Eddie Babcock</a>, <a href="https://www.linkedin.com/in/martin-barnes-8492ab7/" target="_blank">Martin Barnes</a>, <a href="https://www.linkedin.com/in/twbell/" target="_blank">Tyler Bell</a>, <a href="https://www.linkedin.com/in/andriybychay/" target="_blank">Andriy Bychay</a>,
            <a href="https://www.linkedin.com/in/brucecacampbell/" target="_blank">Bruce Campbell</a>, <a href="https://www.linkedin.com/in/robert-craig-7068ab1/" target="_blank">Robert Craig</a>, <a href="https://www.linkedin.com/in/mike-dickson-0a400a22/" target="_blank">Mike Dickson</a>, <a href="https://www.linkedin.com/in/duerer/" target="_blank">Holger Dürer</a>, <a href="https://www.garygale.com/" target="_blank">Gary Gale</a>, <a href="https://www.linkedin.com/in/paul-grealish-18b850233/" target="_blank">Paul Grealish</a>,
            <a href="https://www.linkedin.com/in/ibrahimhusseini/" target="_blank">Ibrahim Husseini</a>, <a href="https://www.linkedin.com/in/sgzmd/" target="_blank">Roman Kirillov</a>, <a href="https://www.linkedin.com/in/jmkuffer/" target="_blank">Jean-Marc Kuffer</a>, <a href="https://www.linkedin.com/in/marknlaw/" target="_blank">Mark Law</a>, <a href="https://www.linkedin.com/in/matthew-leatham-0323467/" target="_blank">Matt Leatham</a>, <a href="https://www.linkedin.com/in/dkirkw/" target="_blank">David Lauder-Walker</a>, <a href="https://www.linkedin.com/in/stephen-may-309a4628/" target="_blank">Stephen May</a>,
            <a href="https://www.linkedin.com/in/michaellmetcalf/" target="_blank">Michael Metcalf</a>, <a href="https://www.linkedin.com/in/dmoverton/" target="_blank">David Overton</a>, <a href="https://www.linkedin.com/in/david-richardson-bunbury-0930748/" target="_blank">David Richardson-Bunbury</a>, <a href="https://www.linkedin.com/in/gavinridgway/" target="_blank">Gavin Ridgeway</a>, <a href="https://www.linkedin.com/in/sorenriise/" target="_blank">Soren Riise</a>,
            <a href="https://www.linkedin.com/in/eugenestipp/" target="_blank">Eugene Stipp</a>, <a href="https://www.linkedin.com/in/robert-tyler-a7b4b997/" target="_blank">Rob Tyler</a>, <a href="https://www.linkedin.com/in/bobupham/" target="_blank">Bob Upham</a>, <a href="https://www.linkedin.com/in/mejwaller/" target="_blank">Martin Waller</a>, <a href="https://www.linkedin.com/in/john-wright-11473428/" target="_blank">John Wright</a></p>
            <h3>Flickr</h3>
            <p><a href="https://www.aaronstraupcope.com/about/" target="_blank">Aaron Straup Cope</a>, <a href="https://www.linkedin.com/in/kellanem/" target="_blank">Kellan Elliott-McCrea</a></p>
            <h3>Yahoo! Developer Network</h3>
            <p><a href="https://www.linkedin.com/in/sophiemajor/" target="_blank">Sophie Davies-Patrick</a>, <a href="https://www.linkedin.com/in/christianheilmann/" target="_blank">Christian Heilmann</a>, <a href="https://www.linkedin.com/in/stacymilman/" target="_blank">Stacy Milman</a>, <a href="https://www.linkedin.com/in/anilpatelny/" target="_blank">Anil Patel</a></p>
            <h3>Yahoo! Brickhouse</h3>
            <p><a href="https://www.linkedin.com/in/tecoates/" target="_blank">Tom Coates</a>, <a href="https://www.linkedin.com/in/sethfitzsimmons/" target="_blank">Seth Fitzsimmons</a>, <a href="https://www.linkedin.com/in/jeannieyang/" target="_blank">Jeannie Yang</a></p>
            <h3>Yahoo! Research</h3>
            <p><a href="https://www.linkedin.com/in/ricardobaezayates/" target="_blank">Ricardo Baeza-Yates</a>, <a href="https://www.linkedin.com/in/marcdavis/" target="_blank">Marc Davis</a>, <a href="https://www.linkedin.com/in/mmoorr/" target="_blank">Mor Naaman</a>, <a href="https://www.linkedin.com/in/rahulnair/" target="_blank">Rahul Nair</a>, <a href="https://www.linkedin.com/in/vanessamurdock/" target="_blank">Vanessa Murdock</a>, <a href="https://www.linkedin.com/in/roelofvanzwol/" target="_blank">Roelof van Zwoll</a></p>
            <a name="map-credits"></a>
            <h2>Data</h2>
            <p>
            <span class="woe">WOE</span>planet is licensed under <a href="https://cdla.io/permissive-1-0/">Community Data License Agreement - Permissive, Version 1.0</a> (CDLA-Permissive-1.0).
            </p>
            <p><span class="woe">WOE</span>planet contains data from Yahoo! GeoPlanet. &copy; 2009 Yahoo! Inc. Some rights reserved. Content licensed under <a href="http://creativecommons.org/licenses/by/3.0/us/">Creative Commons Attribution 3.0 United States License</a>. Provide attribution to "Yahoo! GeoPlanet".</p>
            <h2>Maps</h2>
            <p>Map tiles are <a href="http://stamen.com/">Stamen Design's</a> <a href="http://maps.stamen.com/toner/">Toner</a> and <a href="http://maps.stamen.com/toner-lite/">Toner Lite</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC-BY-3.0</a>.</p>
            <p>Map data is from <a href="http://openstreetmap.org/">OpenStreetMap</a>, <a href="http://creativecommons.org/licenses/by-sa/3.0">CC-BY-SA</a>, &copy; OpenStreetMap contributors.</p>
            <p>The Null Island map is derived from <a href="https://github.com/nixta" target="_blank">Nicholas Furness's</a> <a href="https://github.com/nixta/null-island" target="_blank">Null Island GeoJSON</a>.</p>
		</div>
		{%- include "includes/sidebar-info.html.j2" %}
		{%- include "includes/footer.html.j2" %}
	</div>
	{%- include "includes/sidebar.html.j2" %}
</div>
{%- endblock %}
